.footer{
    display: grid;
    place-content: center;
    width: 100%;
    min-height: 10rem;
    color: $blanco;
    background-color: $light-blue-darken-4;
    border-top:.2rem solid $blanco;

    &-contenido{
        width: 40%;
        margin: 0 auto;
        text-align: center;

        h3{
            margin-bottom: 1rem;
            font-weight: $bold;
            text-transform: uppercase;

            span{
                font-weight: $thin;
            }
        }
    }
}