//---------------------FUNTES
// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
$lato: 'Lato', sans-serif;
$thin:300;
$normal:400;
$bold:700;

// ------------------RESOLUCIONES
$telefono:480px;
$tableta:768px;
$laptop:980px;
$escritorio:1200px;

//--------------------COLORES
$oscuro-0: #000000 ;
$blanco:#ffffff;
$deep-orange-lighten-5:#fbe9e7; 
$deep-orange-lighten-2:#ff8a65;
$deep-orange-darken-1: #f4511e;
$deep-orange-darken-4 :#bf360c;

$light-blue-darken-4:#01579b ;
$light-blue-darken-1:#039be5;
